.about {
  background: url('../assets/aboutBG.png') no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  height: 1000px;
  width: 100%;
  padding-top: 250px;
}
.about-photo {
  border-radius: 2%;
  max-width: 500px;
  max-height: 350px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 993px) {
  .about {
    padding-top: 160px;
  }
}